// 基本顏色設定
$body-bg: #fff;
$text-color: #262626;
$link-color: #bfbfbf;
$link-hover-color: #fff !default;
	
// 基本文字設定
//## Font, line-height, and color for body text, and more.
$font-family-base: arial,
STHeiti,
"Microsoft YaHei",
"微软雅黑",
"SimSun",
"宋体" !default;
$font-size-base: 16px !default;
$line-height-base: 1.8 !default;